@import "../../../styles/varibales.module.scss";

.signUp {
  max-width: 450px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 200px auto;
  padding: 3% 2%;
  box-sizing: border-box;

  h2 {
    font-weight: 700;
    @include adaptive-value("font-size", 40, 20);
    line-height: 130%;
    color: #7329c2;
    text-align: center;
  }

  form {
    .signUp__deIndenting {
      margin: 8% 0 0;
    }

    .error {
      font-weight: 500;
      @include adaptive-value("font-size", 14, 12);
      line-height: 130%;
      color: #ff4d4f;
    }

    a {
      font-weight: 500;
      @include adaptive-value("font-size", 14, 10);
      line-height: 130%;
    }
  }
}
