@import "shared/styles/adaptive";
@import "shared/styles/variables";

.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  background: #ffffff;
  box-shadow: 0 8px 40px -5px rgba(9, 31, 67, 0.1);
  transition: all 0.7s;

  .header__nav {
    max-width: 1440px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 0;
    box-shadow: none;
    padding: 1% 5%;
    box-sizing: border-box;
    margin: 0 auto;
    transition: all 0.3s;

    .header__logo {
      @include adaptive-value("width", 50, 30, 0);
      @include adaptive-value("font-size", 50, 30, 0);
      color: #7329c2;
    }

    .header__list {
      position: relative;
      display: flex;
      justify-content: space-between;
      @include adaptive-value("gap", 50, 30, 0);

      li {
        a {
          font-weight: 700;
          @include adaptive-value("font-size", 20, 10, 0);
          line-height: 130%;
          color: #322f55;
        }

        &:hover a {
          color: #03d665;
          transition: all 0.5s;
        }
      }

      .animateLine {
        height: 4px;
        position: absolute;
        bottom: -15px;
        background: #03d665;
        border-radius: 10px;
        transition: all 0.3s;
      }
    }

    .header__buttons {
      display: flex;
      align-items: center;
      @include adaptive-value("gap", 25, 10, 0);

      .header__search {
        @include adaptive-value("height", 22, 15, 0);
        @include adaptive-value("font-size", 22, 15, 0);
        color: #7329c2;
        transition: all 0.3s;

        &:hover {
          color: #03d665;
          transition: all 0.3s;
        }
      }

      .header__cart {
        @include adaptive-value("height", 22, 15, 0);
        @include adaptive-value("font-size", 22, 15, 0);
        color: #7329c2;
        transition: all 0.3s;

        &:hover {
          color: #03d665;
          transition: all 0.3s;
        }
      }

      .header__avatar {
        @include adaptive-value("width", 30, 18, 0);
        cursor: pointer;
      }
    }
  }
}

.active {
  top: 5%;
  background: transparent;
  box-shadow: none;
  transition: all 0.3s;

  .header__nav {
    max-width: 74vw;
    background: #ffffff;
    border-radius: 5rem;
    box-shadow: 0 4px 4.25px 0.75px rgba(0, 0, 0, 0.13);
    transition: all 1s;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    .header__nav {
      .header__list {
        .animateLine {
          height: 3px;
          bottom: -10px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .header__nav {
      height: 60px;
      padding: 0 5%;

      .header__list {
        display: none;
      }

      .header__buttons {
        & :nth-child(4) {
          display: none;
        }
      }
    }
  }
}
