@import "shared/styles/adaptive";
@import "shared/styles/variables";

.statistics {
  @include centering();

  .statisticsSlider {
    @include adaptive-value("height", 220, 150, 0);

    .statistics__item {
      text-align: center;
      margin: 0 auto;

      .__num {
        font-weight: 700;
        @include adaptive-value("font-size", 58, 30, 0);
        line-height: 130%;
        color: $color_2;

        &::after {
          content: "+";
        }
      }

      p {
        font-weight: 700;
        @include adaptive-value("font-size", 15, 10, 0);
        line-height: 130%;
        color: #a7b0c2;
        letter-spacing: 1px;
      }
    }
  }
}
