@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
a,
p,
span,
li,
ul,
input,
pre {
  text-decoration: none;
  list-style: none;
  font-family: "Nunito", sans-serif;
  font-style: normal;
}
