@import 'shared/styles/adaptive';

.root {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.paper {
    height: 100vh;
    @include adaptive-value('width', 750, 300, 0);
    @include adaptive-value('padding-left', 42, 20, 0);
    @include adaptive-value('padding-right', 42, 20, 0);

    &__subcontent {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__supcontent {
        text-align: center;
    }
}