@import "shared/styles/adaptive";
@import "shared/styles/variables";

.familiarization {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }

  .familiarization__text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      width: 80%;
      font-weight: 700;
      @include adaptive-value("font-size", 40, 20, 0);
      line-height: 130%;
      color: $color_3;

      @media screen and (max-width: 1024px) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }


    p {
      width: 80%;
      font-weight: 500;
      @include adaptive-value("font-size", 20, 10, 0);
      line-height: 130%;
      color: rgba(18, 17, 39, 0.56);
    }
  }

  .familiarization__image {
    width: 50%;

    img {
      height: 100vh;
      @include adaptive-value('width', 500, 200, 0);
      object-fit: cover;
    }
  }
}
